.title {
font-size: 1.8rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__wrap-img {
  display: flex;
  justify-content: space-evenly;
}
.gallery__photo {
  width: 40%;
}
.gallery__photo:active{
  border: 2px dotted darkgrey;
}
.gallery_btn {
  margin-top: 3rem;
  height: 2rem;
  width: 10rem;
  background-color: black;
  border-radius: 0.25rem;
  color: azure;
  cursor: pointer;
}
.gallery_btn:hover {
  border: 3px darkgray solid;
}
.gallery_btn:active {
  background-color: darkgrey;
}
.gallery__wrap-price {
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  display: none;
  text-align: center;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}